@use '../../1-base/mixins/_typesDisplay'
@import '../../1-base/_pallete'

.banner-video
  height: 30vh
  width: 100vw
  position: relative
  // Alterar tamanho de acordo com a tela
  margin-bottom: -9vh

  @include typesDisplay.desktop
    height: 100vh
    margin-bottom: -16vh

  @include typesDisplay.small_tablet
    margin-bottom: -19vh
  
  @include typesDisplay.mobile
    height: 45vh
    margin-bottom: -2vh
    // background-color: red

  &-front
    transition: all 450ms ease-out
    transition-delay: 400ms
    height: 100%
    width: 100%
    position: relative
    z-index: -1

  &-back
    position: relative
    transition: all 250ms ease-in
    transition-delay: 200ms
    height: 100%
    width: 100%
    z-index: -1

    &-informations
      width: 45vw
      height: 30vh
      z-index: 1
      position: absolute
      bottom: 20vh
      left: 3.3vw
      display: flex
      flex-direction: column
      align-items: center

      @include typesDisplay.laptop
        width: 50vw

      @include typesDisplay.small_tablet
        width: 70vw

      @include typesDisplay.mobile
        display: flex
        flex-direction: row
        width: 94%
        // background-color: red
        height: auto
        bottom: 8vh

      &-container
        display: flex
        justify-content: center
        align-items: center
        justify-content: flex-start
        width: 100%
        margin-bottom: 1rem

        @include typesDisplay.mobile
          margin-bottom: 0
          width: auto
          margin-right: .5rem

        &-top
          background-color: rgb(212, 30, 44)
          color: $btn-color-off
          font-weight: 900
          display: flex
          flex-direction: column
          justify-content: center
          align-items: center
          width: 4rem
          height: 4rem
          border-radius: 5px
          font-size: 1.5rem
          text-shadow: 1.5px 1.5px black

          @include typesDisplay.laptop
            font-size: 1.3rem
            width: 3.6rem
            height: 3.6rem
          
          @include typesDisplay.mobile
            font-size: 1.1rem
            width: 3rem
            height: 3rem

      &-index
        font-size: 1.5rem
        color: $btn-color-off
        font-weight: 900
        text-shadow: 1px 1px black
        margin-left: 2rem

        @include typesDisplay.mobile
          display: none

      &-title
        font-size: 3.5rem
        color: $btn-color-off
        font-weight: 700
        text-shadow: 1px 1px black
        text-align: start
        width: 100%

        @include typesDisplay.small_tablet
          font-size: 3rem
        
        @include typesDisplay.mobile
          font-size: 1.7

      &-overview
        font-size: 1.5rem
        color: $btn-color-off
        font-weight: 700
        text-shadow: 1px 1px black
        margin-top: 1.5rem

        @include typesDisplay.laptop
          font-size: 1.3rem
          line-height: 1.5rem
        
        @include typesDisplay.mobile
          display: none

  &-back-url
    opacity: 0
    position: absolute
    top: 0
    left: 0
    transition: all 250ms ease-in
    transition-delay: 200ms
    height: 100%
    width: 100%
    z-index: -1
    overflow: hidden
    
    iframe
      height: 30vh
      width: 100vw
      // Retirar bordas pretas dos videos
      transform: scale(1.4)

      @include typesDisplay.desktop
        height: 100vh

      @include typesDisplay.small_device
        transform: scale(1.6)
      
      @include typesDisplay.mobile
        transform: scale(1.9)
        position: absolute
        top: -28vh

  &-button
    z-index: 1
    position: absolute
    bottom: 8.5vh
    right: 5vw

    @include typesDisplay.desktop
      bottom: 20vh
    
    @include typesDisplay.mobile
      bottom: 6vh

  .button-banner
    background-color: transparent
    &-color
      color: white

    &:hover
      border-color: white
      background-color: #ffffffda
      box-shadow: 1px solid black
      transition: all 250ms ease-out
      .button-banner-color
        color: $bg-color-card

  @include typesDisplay.desktop
    .button-banner
      height: 3rem
      width: 3rem

  video
    height: 100%
    width: 100%
    object-fit: cover

  &-gradient
    height: 2vh
    width: 100vw
    position: absolute
    bottom: -1.2vh
    z-index: -1

.animation-title
  @include typesDisplay.desktop
    animation: animation-title-desktop 5s
    animation-fill-mode: forwards

  @include typesDisplay.small_tablet
    animation: animation-title-small-tablet 5s
    animation-fill-mode: forwards

  @include typesDisplay.mobile
    animation: animation-title-mobile 5s
    animation-fill-mode: forwards

.animation-container
  animation: animation-container 5s
  animation-fill-mode: forwards

  @include typesDisplay.mobile
    animation: animation-mobile 5s
    animation-fill-mode: forwards

.animation-overview
  animation: animation-overview 1.5s
  animation-fill-mode: forwards

@keyframes animation-title-desktop
  from
    font-size: 3.5rem
  to
    font-size: 3rem

@keyframes animation-title-small-tablet
  from
    font-size: 3rem
  to
    font-size: 2.5rem

@keyframes animation-title-mobile
  from
    font-size: 1.7rem
  to
    font-size: 1.5rem

@keyframes animation-container
  from
    bottom: 20vh
  to
    bottom: 4vh

@keyframes animation-mobile
  from
    bottom: 8vh
  to
    bottom: 1.5vh

@keyframes animation-overview
  from
    opacity: 1
  to
    opacity: 0
