@use '../mixins/_mixins'
@import '../../1-base/_pallete'

$tablet-width: 768px
$desktop-width: 1024px

@mixin tablet
  @media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px})
    @content

@mixin desktop
  @media (min-width: #{$desktop-width})
    @content

body
  overflow: hidden

.carousel-card
  position: relative

  &-header
    width: 100%
    img
      width: 100%
      // Atualizar de acordo com o tamanho da tela
      height: 10vh
    .carousel-card-video
      border-radius: .5rem
      position: relative
      padding-bottom: 56.25%
      // Atualizar de acordo com o tamanho da tela
      height: 1.5vh
      margin: 0 auto

      &-position
        position: relative

      &-position-button
        position: absolute
        bottom: 1.5vh
        left: 1vw

    .carousel-card-video iframe
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%

  &-front
    // position: relative
    transition: all 250ms ease-out
    transition-delay: 200ms
    // z-index: 100

    img
      height: 10vh
      border-radius: .25rem
      // border-bottom-left-radius: 0
      // border-bottom-right-radius: 0

  &-back
    position: absolute
    display: none
    opacity: 0
    width: 150%
    transition: all 250ms ease-out
    transition-delay: 200ms
    z-index: 999
    border-radius: .5rem
    background-color: $bg-color-card
    box-shadow: 0 0 10px 1px #0a0a0a
    overflow: hidden

    &-video
      width: 100%
      height: 10vh
      object-fit: cover
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

    img
      height: 10vh
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0

    &-body
      border-bottom-left-radius: .5rem
      border-bottom-right-radius: .5rem
      // Atualizar de acordo com a tela
      height: 8vh
      display: flex
      flex-direction: column
      justify-content: space-evenly
      color: $color-titles-buttons

      &-informations
        display: flex
        align-items: center
        justify-content: space-evenly

        &-people
          display: flex
          align-items: center
          flex-direction: row
          width: 100%
          margin: 0 1rem
          position: relative
          p
            font-weight: 700
          .carousel-card-back-body-buttons-btn
            position: absolute
            right: 0

        &-know
          margin: 0 1rem
          p
            margin-bottom: .25rem
            color: $color-modal-title
          li
            margin-bottom: .25rem
            font-size: .9rem
          li:before
            content: '\2022'
            margin: 0 .25rem
            color: $color-modal-title

        &-hd
          display: flex
          align-items: center
          justify-content: center
          border: 2px solid $btn-color-off
          border-radius: 13%
          font-weight: 500
          padding: .15rem .4rem
          font-size: .6rem
          box-shadow: 1px solid black

        &-average
          width: 2vw
          border-radius: .5rem
          box-shadow: 1px solid black
          padding: .5rem
          display: flex
          align-items: center
          justify-content: center
          font-weight: 1000
          font-size: .9rem

        &-bad
          background-color: red
        &-good
          background-color: #E3C521
        &-excelent
          background-color: green

        &-genres
          ul
            display: flex
            align-items: center
            justify-content: center

            li:not(:first-child) p::before
              content: '●'
              color: $btn-color-off
              margin-right: .25rem

      &-buttons
        display: flex
        justify-content: space-between
        align-items: center
        margin: .5remcontainer-informations
        // height: 5vh

        button
          margin: 0 .15rem

        &-btn
          display: inline-flex
          justify-content: center
          align-items: center
          border: 2px solid $btn-color-off
          cursor: pointer
          transition: all 250ms
          border-radius: 50%
          background: transparent
          // Trocar tamanho de acordo com a tela
          height: 1.75vh
          width: 3vw
          &-text-color
            color: $color-titles-buttons
            font-size: 1.4rem

          &:hover
            border-color: white
            box-shadow: 1px solid black
            .carousel-card-back-body-buttons-btn-text-color
              color: $btn-color-off

        &-btn-color
          background-color: white
          .carousel-card-back-body-buttons-btn-text-color
            color: $bg-color-card
          &:hover
            border-color: white
            background-color: transparent
            box-shadow: 1px solid black
            transition: all 250ms ease-out
            .carousel-card-back-body-buttons-btn-text-color
              color: $btn-color-off

  @include desktop
    width: 100%
    top: 0%

.card-rigth
  .carousel-card
    &:hover
      @include mixins.change-card($value-Y: -70%, $value-X: -13%)

.card-left
  .carousel-card
    &:hover
      @include mixins.change-card($value-Y: -70%, $value-X: 5%)

.card-center
  .carousel-card
    &:hover
      @include mixins.change-card($value-Y: -70%, $value-X: -5%)
