@import '../../1-base/_pallete'

@mixin display-view
  .progress-bar-carousel
    display: flex
  .carousel-buttons
    color: $color-titles-buttons
    background-color: $carousel-button
  .progress-bar-link-1
    display: flex

@mixin change-title-link
  .progress-bar-link-1
    display: none
  .progress-bar-link-2
    display: flex

@mixin change-card
  .carousel-card-front
    opacity: 0
  .carousel-card-back
    opacity: 1
    width: 110%
    transform: scale(1.1) translateY(-50%)
    display: inline
    //Alterar eixo para os cards da lateral
