@import '../../1-base/_pallete'
@import '../../1-base/_constants'

.video-modal
  height: 25vh
  .carousel-card-header iframe
    height: 25vh
    border-top-right-radius: 10px
    border-top-left-radius: 10px
  .carousel-card-video
    padding-bottom: 4vh
    height: auto
    margin: 0 auto
  &-position
    position: relative
    &-button
      position: absolute
      top: 1vh
      right: 2vw
      z-index: 1
  .carousel-card-video-position-button
    bottom: 0
    left: 2vw

.informations-modal
  padding: 1rem
  height: 10vh

  &-buttons
    margin-bottom: 1rem
    .carousel-card-back-body-buttons-btn:first-child
      margin-right: 1rem
  &-text
    display: flex
    color: $color-titles-buttons
    h3
      color: $btn-color-off
    &-container-1
      width: 60%
      text-align: justify
      padding-right: 2rem
    &-container-2
      width: 40%
      text-align: justify
      &-cast
        display: flex
        ul
          display: flex
          flex-wrap: wrap
      &-genre
        display: flex
        ul
          display: inline-flex
          li
            display: flex
          li:not(:last-child)::after
            content: ','

.ohters-movies-TV-modal
  height: 60vh
  padding: 1rem
  color: $color-titles-buttons
