@use '../../1-base/mixins/_typesDisplay'
@import '../../1-base/_pallete'
@import '../../1-base/_constants'

.video-modal
  // Alterar tamanho do Iframe
  @include typesDisplay.desktop
  height: 60vh
  width: 100%

  .carousel-card-header
    position: relative
    border-top-right-radius: 10px
    border-top-left-radius: 10px
    width: 100%
    height: 100%

    .carousel-card-video
      padding-bottom: .1vh
      height: 100%
      width: 100%
      // margin: 0 auto
      overflow: hidden

      iframe
        height: 100vh
        width: 100vw
      // Retirar bordas pretas dos videos
        // transform: scale(1.4)

    &-position-button
      position: absolute
      z-index: 20
      left: 93%
      bottom: 5vh

        // @include typesDisplay.desktop
        //   top: 2vh
        //   right: 5vw
  // .carousel-card-video-position-button
  //   bottom: -5.5vh
  //   left: 2vw

.informations-modal
  padding: 1rem
  height: 10vh
  margin-bottom: 2rem

  &-buttons
    margin-bottom: 1rem
    .carousel-card-back-body-buttons-btn:first-child
      margin-right: 1rem
  &-text
    display: flex
    color: $color-titles-buttons
    h3
      color: $color-modal-title
    &-container-1
      width: 60%
      text-align: justify
      padding-right: 2rem
      .carousel-card-back-body-informations
        justify-content: flex-start
        margin-bottom: 1rem
        p:not(:last-child)
          margin-right: 2rem
      &-overview
        line-height: 1.3rem

    &-container-2
      width: 40%
      text-align: justify
      line-height: 1.3rem
      &-cast
        display: flex
        margin-bottom: 1rem
        ul
          display: flex
          flex-wrap: wrap
      &-genre
        display: flex
        ul
          display: flex
          flex-wrap: wrap
          li
            display: flex
          li:not(:last-child)::after
            content: ','
      &-peoples
        display: flex
        align-items: flex-start
        flex-direction: column

        &-text
          color: $color-modal-title

        h3:not(:first-child)
          margin-top: 1rem
        h3
          color: $btn-color-off

.ohters-movies-TV-modal
  height: 55vh
  padding: 1rem
  color: $color-titles-buttons
  h2
    margin-bottom: 1rem
    font-size: 1.2rem
    font-weight: 900

.container-movies-tvs-recomendations
  height: 98%
  overflow: scroll
  overflow-x: hidden
  ul
    display: flex
    flex-wrap: wrap
    li
      width: 30vw

  &-position
    // position: absolute
    margin: .75rem 0

.container-movies-tvs-recomendations::-webkit-scrollbar
  width: .5vw
  border: 1px solid $bg-color-card-recomendation
.container-movies-tvs-recomendations::-webkit-scrollbar-thumb
  background-color: $color-titles-buttons

.card-header-recomendation
  margin: 1rem 1rem

  img
    border-top-right-radius: 10px
    border-top-left-radius: 10px
    width: 100%

  &-informations
    height: 13vh
    text-align: justify
    line-height: 1.25rem
    padding: 1rem
    background-color: $bg-color-card-recomendation
    border-bottom-right-radius: 10px
    border-bottom-left-radius: 10px

    &-overview
      margin-top: 1rem
