@use '../../1-base/mixins/_typesDisplay'

.play_movie_or_tv
  margin-top: 9vh

  @include typesDisplay.desktop
    height: 81vh

  iframe
    margin: 0 2vw

    @include typesDisplay.desktop
      width: 96vw
      height: 81vh

.footer-play-movie
  .footer-container
    margin: 0
