@use '../../1-base/mixins/_typesDisplay'
@import '../../1-base/_constants'

.skeleton-card-without
  display: flex
  flex-direction: column

.skeleton-card
  margin: 0 3vw
  display: flex
  flex-direction: column

.skeleton-card-ul
  width: 100%
  // background-color: red

  ul
    display: flex
    margin-left: 0 calc($img-gap / 2)

    // @include typesDisplay.mobile
    //   width: 100%
    //   align-items: center
    //   justify-content: center
