@charset "UTF-8";
html {
  font-size: 14px;
  background-color: rgb(20, 20, 20);
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, b, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow: hidden;
}
@media (min-width: 1900px) {
  body {
    overflow: scroll;
    overflow-x: hidden;
  }
}

body::-webkit-scrollbar {
  width: 0.5vw;
  border: 1px solid #2F2F2F;
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.937254902);
}

.carousel-card {
  position: relative;
}
.carousel-card-header {
  width: 100%;
}
.carousel-card-header img {
  width: 100%;
}
.carousel-card-header .carousel-card-video {
  border-radius: 0.5rem;
  position: relative;
  padding-bottom: 56.25%;
  height: 1.5vh;
  margin: 0 auto;
}
.carousel-card-header .carousel-card-video-position {
  position: relative;
}
.carousel-card-header .carousel-card-video-position-button {
  position: absolute;
  bottom: 1.5vh;
  left: 1vw;
}
.carousel-card-header .carousel-card-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.carousel-card-front {
  transition: all 250ms ease-out;
  transition-delay: 200ms;
}
.carousel-card-front img {
  height: 10vh;
  border-radius: 0.25rem;
}
@media (min-width: 1900px) {
  .carousel-card-front img {
    height: 18vh;
  }
}
.carousel-card-back {
  position: absolute;
  display: none;
  opacity: 0;
  width: 150%;
  transition: all 250ms ease-out;
  transition-delay: 200ms;
  z-index: 999;
  border-radius: 0.5rem;
  background-color: #181818;
  box-shadow: 0 0 10px 1px #0a0a0a;
  overflow: hidden;
}
.carousel-card-back-video {
  width: 100%;
  height: 10vh;
  object-fit: cover;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.carousel-card-back img {
  height: 10vh;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
@media (min-width: 1900px) {
  .carousel-card-back img {
    height: 18vh;
  }
}
.carousel-card-back-body {
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgba(255, 255, 255, 0.937254902);
}
@media (min-width: 1900px) {
  .carousel-card-back-body {
    height: 16vh;
  }
}
.carousel-card-back-body-informations {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.carousel-card-back-body-informations-people {
  display: flex;
  align-items: center;
  flex-direction: row;
  width: 100%;
  margin: 0 1rem;
  position: relative;
}
.carousel-card-back-body-informations-people p {
  font-weight: 700;
}
.carousel-card-back-body-informations-people .carousel-card-back-body-buttons-btn {
  position: absolute;
  right: 0;
}
.carousel-card-back-body-informations-know {
  margin: 0 1rem;
}
.carousel-card-back-body-informations-know p {
  margin-bottom: 0.25rem;
  color: #707070;
}
.carousel-card-back-body-informations-know li {
  margin-bottom: 0.25rem;
  font-size: 0.9rem;
}
.carousel-card-back-body-informations-know li:before {
  content: "•";
  margin: 0 0.25rem;
  color: #707070;
}
.carousel-card-back-body-informations-hd {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 13%;
  font-weight: 500;
  padding: 0.15rem 0.4rem;
  font-size: 0.6rem;
  box-shadow: 1px solid black;
}
.carousel-card-back-body-informations-average {
  width: 2vw;
  border-radius: 0.5rem;
  box-shadow: 1px solid black;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 1000;
  font-size: 0.9rem;
}
.carousel-card-back-body-informations-bad {
  background-color: red;
}
.carousel-card-back-body-informations-good {
  background-color: #E3C521;
}
.carousel-card-back-body-informations-excelent {
  background-color: green;
}
.carousel-card-back-body-informations-genres ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-card-back-body-informations-genres ul li:not(:first-child) p::before {
  content: "●";
  color: rgba(255, 255, 255, 0.8);
  margin-right: 0.25rem;
}
.carousel-card-back-body-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem;
}
.carousel-card-back-body-buttons button {
  margin: 0 0.15rem;
}
.carousel-card-back-body-buttons-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(255, 255, 255, 0.8);
  cursor: pointer;
  transition: all 250ms;
  border-radius: 50%;
  background: transparent;
  height: 1.5rem;
  width: 1.5rem;
}
@media (min-width: 1900px) {
  .carousel-card-back-body-buttons-btn {
    height: 2.2rem;
    width: 2.2rem;
  }
}
.carousel-card-back-body-buttons-btn-text-color {
  color: rgba(255, 255, 255, 0.937254902);
  font-size: 1.4rem;
}
.carousel-card-back-body-buttons-btn:hover {
  border-color: white;
  box-shadow: 1px solid black;
}
.carousel-card-back-body-buttons-btn:hover .carousel-card-back-body-buttons-btn-text-color {
  color: rgba(255, 255, 255, 0.8);
}
.carousel-card-back-body-buttons-btn-color {
  background-color: white;
}
.carousel-card-back-body-buttons-btn-color .carousel-card-back-body-buttons-btn-text-color {
  color: #181818;
}
.carousel-card-back-body-buttons-btn-color:hover {
  border-color: white;
  background-color: transparent;
  box-shadow: 1px solid black;
  transition: all 250ms ease-out;
}
.carousel-card-back-body-buttons-btn-color:hover .carousel-card-back-body-buttons-btn-text-color {
  color: rgba(255, 255, 255, 0.8);
}

.card-rigth .carousel-card:hover {
  cursor: pointer;
}
.card-rigth .carousel-card:hover .carousel-card-back {
  width: 110%;
  transform: scale(1.1) translateY(-70%) translateX(-13%);
  display: inline;
}

.card-left .carousel-card:hover {
  cursor: pointer;
}
.card-left .carousel-card:hover .carousel-card-back {
  width: 110%;
  transform: scale(1.1) translateY(-70%) translateX(5%);
  display: inline;
}

.card-center .carousel-card:hover {
  cursor: pointer;
}
.card-center .carousel-card:hover .carousel-card-back {
  width: 110%;
  transform: scale(1.1) translateY(-70%) translateX(-5%);
  display: inline;
}

.container-movies-tvs-peoples {
  margin: 1.25rem 0;
}

.main-carousel {
  position: relative;
}
.main-carousel:hover {
  cursor: pointer;
  z-index: 1;
}
.main-carousel:hover .progress-bar-carousel {
  display: flex;
}
.main-carousel:hover .carousel-buttons {
  color: rgba(255, 255, 255, 0.937254902);
  background-color: rgba(20, 20, 20, 0.7);
}
.main-carousel:hover .progress-bar-link-1 {
  display: flex;
}

.carousel {
  display: flex;
  justify-content: center;
  width: 100vw;
  position: relative;
}
.carousel:hover {
  z-index: 1;
}
.carousel-buttons {
  position: relative;
  border: none;
  border-radius: 0.15rem;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: transparent;
  cursor: pointer;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  transition: background-color 150ms ease-in-out;
  width: 3vw;
}
.carousel-buttons:hover .text, .carousel-buttons:focus .text {
  transform: scale(1.3);
}
.carousel-movies {
  position: relative;
  z-index: -1;
  --items-per-screen: 6;
  --slider-index: 0;
  display: flex;
  flex-grow: 1;
  margin: 0 0.25rem;
  transform: translateX(calc(var(--slider-index) * -100%));
  transition: transform 250ms ease-in-out;
  width: calc(100% - 6vw);
}
.carousel-item {
  flex: 0 0 calc(100% / var(--items-per-screen) - 0.25rem);
  margin: 0 0.125rem;
  border-radius: 0.2rem;
}

.button-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  margin-right: -0.17vw;
}

.button-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-left: -0.17vw;
}

.text {
  transition: transform 150ms ease-in-out;
}

@media (max-width: 1200px) {
  .carousel-movies {
    --items-per-screen: 4;
  }
}
@media (max-width: 990px) {
  .carousel-movies {
    --items-per-screen: 3;
  }
}
@media (max-width: 730px) {
  .carousel-movies {
    --items-per-screen: 2;
  }
}
.progress-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.85rem calc(0.5rem + 3vw);
  align-items: center;
  position: relative;
  margin-top: 1rem;
}
.progress-bar-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.progress-bar-title-container:hover .progress-bar-link-1 {
  display: none;
}
.progress-bar-title-container:hover .progress-bar-link-2 {
  display: flex;
}
.progress-bar-title {
  font-size: 1.2rem;
  font-weight: 600;
  margin: 0;
  color: white;
}
.progress-bar-link-1 {
  display: none;
  margin-left: 0.25rem;
  color: #48B6C5;
  font-size: 1.2rem;
  font-weight: 1000;
}
.progress-bar-link-2 {
  color: #48B6C5;
  font-size: 0.8rem;
  margin-left: 0.5rem;
  font-weight: 600;
  opacity: 0;
  position: absolute;
  z-index: 3;
  display: none;
  z-index: 1;
}
.progress-bar-carousel {
  display: none;
  gap: 0.25rem;
}
.progress-bar-item {
  flex: 0 0 1rem;
  min-width: 1rem;
  height: 0.1rem;
  background-color: rgba(255, 255, 255, 0.5);
}
.progress-bar-active {
  background-color: rgba(255, 255, 255, 0.9);
}

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 7vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  padding: 0.5rem 0;
  transition: opacity 0.5s ease-in-out;
  transform: 0.5s ease-in-out;
  background: linear-gradient(180deg, rgba(20, 20, 20, 0.6) 0%, transparent 100%);
}
@media (min-width: 1900px) {
  .navbar {
    height: 6vh;
  }
}
.navbar-roll {
  background-color: rgb(20, 20, 20);
  transition: opacity 0.5s ease-in-out;
  transform: 0.5s ease-in-out;
}
.navbar-list {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 3vw;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}
.navbar-buttons li a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}
.navbar-buttons li a:hover {
  cursor: pointer;
  color: #a49c9c;
  transition: all 0.5s ease;
}
.navbar-buttons li:hover {
  cursor: pointer;
  color: #a49c9c;
  transition: all 0.5s ease;
}
.navbar-buttons li:not(:first-child) {
  margin-left: 2vw;
}
.navbar-search {
  width: 33.33%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 3vw;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 700;
}
.navbar-search li:not(:first-child) {
  margin-left: 1vw;
}
.navbar-search-container {
  width: 4.32vw;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (min-width: 1900px) {
  .navbar-search-container {
    width: 2.5vw;
  }
}
.navbar-search-container-input input {
  border: none;
  outline: none;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.937254902);
  font-weight: 700;
  margin-left: 0.5rem;
}
.navbar-search-container-input input::placeholder {
  color: rgba(255, 255, 255, 0.8);
}
.navbar-search-container-icon {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  font-size: 1.5rem;
}
.navbar-search-container-icon:hover {
  color: #a49c9c;
  transition: all 0.5s ease;
}
.navbar-search .active-search-bar {
  border-radius: 30px;
  background-color: #181818;
  padding: 0.25vw 1vw;
  width: auto;
}

.avatar-navbar {
  width: 2.1rem;
  height: 2.1rem;
  background-color: #66070E;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.avatar-navbar-text {
  font-weight: 900;
  color: rgba(255, 255, 255, 0.937254902);
  font-size: 1.1rem;
}

.video-modal {
  height: 25vh;
}
.video-modal .carousel-card-header iframe {
  height: 25vh;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.video-modal .carousel-card-video {
  padding-bottom: 4vh;
  height: auto;
  margin: 0 auto;
}
.video-modal-position {
  position: relative;
}
.video-modal-position-button {
  position: absolute;
  top: 1vh;
  right: 2vw;
  z-index: 20;
}
.video-modal .carousel-card-video-position-button {
  bottom: -5.5vh;
  left: 2vw;
}

.informations-modal {
  padding: 1rem;
  height: 10vh;
  margin-bottom: 2rem;
}
.informations-modal-buttons {
  margin-bottom: 1rem;
}
.informations-modal-buttons .carousel-card-back-body-buttons-btn:first-child {
  margin-right: 1rem;
}
.informations-modal-text {
  display: flex;
  color: rgba(255, 255, 255, 0.937254902);
}
.informations-modal-text h3 {
  color: #707070;
}
.informations-modal-text-container-1 {
  width: 60%;
  text-align: justify;
  padding-right: 2rem;
}
.informations-modal-text-container-1 .carousel-card-back-body-informations {
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.informations-modal-text-container-1 .carousel-card-back-body-informations p:not(:last-child) {
  margin-right: 2rem;
}
.informations-modal-text-container-1-overview {
  line-height: 1.3rem;
}
.informations-modal-text-container-2 {
  width: 40%;
  text-align: justify;
  line-height: 1.3rem;
}
.informations-modal-text-container-2-cast {
  display: flex;
  margin-bottom: 1rem;
}
.informations-modal-text-container-2-cast ul {
  display: flex;
  flex-wrap: wrap;
}
.informations-modal-text-container-2-genre {
  display: flex;
}
.informations-modal-text-container-2-genre ul {
  display: flex;
  flex-wrap: wrap;
}
.informations-modal-text-container-2-genre ul li {
  display: flex;
}
.informations-modal-text-container-2-genre ul li:not(:last-child)::after {
  content: ",";
}
.informations-modal-text-container-2-peoples {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.informations-modal-text-container-2-peoples-text {
  color: #707070;
}
.informations-modal-text-container-2-peoples h3:not(:first-child) {
  margin-top: 1rem;
}
.informations-modal-text-container-2-peoples h3 {
  color: rgba(255, 255, 255, 0.8);
}

.ohters-movies-TV-modal {
  height: 55vh;
  padding: 1rem;
  color: rgba(255, 255, 255, 0.937254902);
}
.ohters-movies-TV-modal h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 900;
}

.container-movies-tvs-recomendations {
  height: 98%;
  overflow: scroll;
  overflow-x: hidden;
}
.container-movies-tvs-recomendations ul {
  display: flex;
  flex-wrap: wrap;
}
.container-movies-tvs-recomendations ul li {
  width: 30vw;
}
.container-movies-tvs-recomendations-position {
  margin: 0.75rem 0;
}

.container-movies-tvs-recomendations::-webkit-scrollbar {
  width: 0.5vw;
  border: 1px solid #2F2F2F;
}

.container-movies-tvs-recomendations::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.937254902);
}

.card-header-recomendation {
  margin: 1rem 1rem;
}
.card-header-recomendation img {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  width: 100%;
}
.card-header-recomendation-informations {
  height: 13vh;
  text-align: justify;
  line-height: 1.25rem;
  padding: 1rem;
  background-color: #2F2F2F;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
.card-header-recomendation-informations-overview {
  margin-top: 1rem;
}

.banner-video {
  height: 30vh;
  width: 100vw;
  position: relative;
  margin-bottom: -9vh;
}
@media (min-width: 1900px) {
  .banner-video {
    height: 100vh;
    margin-bottom: -16vh;
  }
}
.banner-video-front {
  transition: all 450ms ease-out;
  transition-delay: 400ms;
  height: 100%;
  width: 100%;
  position: relative;
  z-index: -1;
}
.banner-video-back {
  position: relative;
  transition: all 250ms ease-in;
  transition-delay: 200ms;
  height: 100%;
  width: 100%;
  z-index: -1;
}
@media (min-width: 1900px) {
  .banner-video-back-informations {
    width: 35vw;
    height: 30vh;
    z-index: 1;
    color: red;
    position: absolute;
    bottom: 20vh;
    left: 3.3vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .banner-video-back-informations-container {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .banner-video-back-informations-container-top {
    background-color: red;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 900;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    border-radius: 5px;
    font-size: 1.5rem;
    text-shadow: 1.5px 1.5px black;
  }
  .banner-video-back-informations-index {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 900;
    text-shadow: 1px 1px black;
    margin-left: 2rem;
  }
  .banner-video-back-informations-title {
    font-size: 4.5rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
    text-shadow: 1px 1px black;
    text-align: start;
    width: 100%;
  }
  .banner-video-back-informations-overview {
    font-size: 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    font-weight: 700;
    text-shadow: 1px 1px black;
    margin-top: 1.5rem;
  }
}
.banner-video-back-url {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 250ms ease-in;
  transition-delay: 200ms;
  height: 100%;
  width: 100%;
  z-index: -1;
  overflow: hidden;
}
.banner-video-back-url iframe {
  height: 30vh;
  width: 100vw;
  transform: scale(1.4);
}
@media (min-width: 1900px) {
  .banner-video-back-url iframe {
    height: 100vh;
  }
}
.banner-video-button {
  z-index: 1;
  position: absolute;
  bottom: 8.5vh;
  right: 5vw;
}
@media (min-width: 1900px) {
  .banner-video-button {
    bottom: 20vh;
  }
}
.banner-video .button-banner {
  background-color: transparent;
}
.banner-video .button-banner-color {
  color: white;
}
.banner-video .button-banner:hover {
  border-color: white;
  background-color: rgba(255, 255, 255, 0.8549019608);
  box-shadow: 1px solid black;
  transition: all 250ms ease-out;
}
.banner-video .button-banner:hover .button-banner-color {
  color: #181818;
}
@media (min-width: 1900px) {
  .banner-video .button-banner {
    height: 3rem;
    width: 3rem;
  }
}
.banner-video video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.banner-video-gradient {
  height: 2vh;
  width: 100vw;
  position: absolute;
  bottom: -1.2vh;
  z-index: -1;
}

.animation-title {
  animation: animation-title 5s;
  animation-fill-mode: forwards;
}

.animation-container {
  animation: animation-container 5s;
  animation-fill-mode: forwards;
}

.animation-overview {
  animation: animation-overview 3s;
  animation-fill-mode: forwards;
}

@keyframes animation-title {
  from {
    font-size: 4.5rem;
  }
  to {
    font-size: 3rem;
  }
}
@keyframes animation-container {
  from {
    bottom: 20vh;
  }
  to {
    bottom: 5vh;
  }
}
@keyframes animation-overview {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.skeleton-card {
  margin: 0 3vw;
  display: flex;
  flex-direction: column;
}
.skeleton-card-movies {
  width: 100%;
  display: flex;
  justify-content: space-between;
  --items-per-screen: 5;
  overflow: hidden;
}
.skeleton-card-movies-setting {
  background-color: #333333;
  flex: 0 0 calc(100% / var(--items-per-screen) - 0.25rem);
  margin: 0 0.125rem;
  border-radius: 0.2rem;
}

@media (max-width: 1200px) {
  .skeleton-card-movies {
    --items-per-screen: 4;
  }
}
@media (max-width: 990px) {
  .skeleton-card-movies {
    --items-per-screen: 3;
  }
}
@media (max-width: 730px) {
  .skeleton-card-movies {
    --items-per-screen: 2;
  }
}
.list-cards h2 {
  color: rgba(255, 255, 255, 0.937254902);
  font-size: 1.2rem;
  font-weight: 600;
  margin-left: 3vw;
  margin-top: 2rem;
}
.list-cards-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 60vh;
  padding: 0.5rem 0;
}
.list-cards-search ul:not(:last-child) {
  margin-bottom: 1rem;
}
.list-cards-search .carousel-card {
  width: 23vw;
}

.play_movie_or_tv iframe {
  width: 100vw;
  height: 91vh;
}

.background-initial {
  background-image: url("../../../public/images/netflix_wallpaper.jpg");
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-informations {
  background-color: #181818;
  width: 55vw;
  height: 45vh;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-informations form p {
  color: rgba(255, 255, 255, 0.8);
}
.container-informations form .button-provider button {
  border-radius: 0;
  outline: 0;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
}
.container-informations form .button-provider button:hover {
  cursor: pointer;
  text-decoration: underline;
  color: rgba(255, 255, 255, 0.937254902);
}
.container-informations-logo img {
  margin-bottom: 5rem;
}
.container-informations-providers {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 0.75rem 0;
}
.container-informations-providers-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3vw;
}
.container-informations-providers-google {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-informations-providers-google img {
  height: 20px;
  width: 20px;
}
.container-informations-providers-github {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container-informations-providers-github img {
  height: 27px;
  width: 27px;
}
.container-informations h3 {
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
  margin-top: 2rem;
}
.container-informations a {
  font-weight: 700;
  color: rgba(255, 255, 255, 0.937254902);
  text-decoration: none;
}
.container-informations a:hover {
  text-decoration: underline;
}
.container-informations h2 {
  color: rgba(255, 255, 255, 0.937254902);
  font-size: 1.5rem;
  font-weight: 900;
  margin-bottom: 1.5rem;
}
.container-informations form {
  width: 80%;
}
.container-informations-buttons {
  display: flex;
  flex-direction: column;
  margin-bottom: 10rem;
}
.container-informations-buttons #email {
  margin-top: 0.75rem;
}
.container-informations-buttons-input-password {
  background-color: #2F2F2F;
  color: rgba(255, 255, 255, 0.937254902);
  margin-top: 0.75rem;
  display: flex;
  align-items: center;
  border-radius: 3px;
  position: relative;
}
.container-informations-buttons-input-password input {
  width: 100%;
}
.container-informations-buttons-input-password #password {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.container-informations-buttons-input-password-icon {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.937254902);
  border-radius: 0;
  width: 10%;
  position: absolute;
  right: 0;
}
.container-informations-buttons-input-password-icon-color:hover {
  color: #48B6C5;
}
.container-informations input, .container-informations button {
  font-weight: 700;
  border: 0;
  outline: 0;
  border-radius: 3px;
  font-size: 1rem;
  text-align: center;
  height: 2.5vh;
}
.container-informations input[type=text], .container-informations input[type=password], .container-informations input[type=email] {
  background-color: #2F2F2F;
  color: rgba(255, 255, 255, 0.937254902);
}
.container-informations .button-submit {
  display: inline-block;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  color: rgba(255, 255, 255, 0.937254902);
  margin-top: 3rem;
}
.container-informations .button-submit:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(229, 9, 21);
  z-index: -2;
}
.container-informations .button-submit:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #9b060e;
  transition: all 0.3s;
  z-index: -1;
}
.container-informations .button-submit:hover {
  cursor: pointer;
}
.container-informations .button-submit:hover:before {
  width: 100%;
}
.container-informations input:disabled {
  background-color: rgba(20, 20, 20, 0.5);
  color: black;
}

/*# sourceMappingURL=app.css.map */
