@use '../mixins/_mixins'
@use '../../1-base/mixins/_typesDisplay'
@import '../../1-base/_pallete'

.navbar
  align-items: center
  display: flex
  justify-content: space-between
  width: 100vw
  // Alterar de acordo com o tamanho da tela
  height: 7vh
  position: fixed
  top: 0
  left: 0
  z-index: 100
  padding: .5rem 0
  transition: opacity 0.5s ease-in-out
  transform: 0.5s ease-in-out
  background: linear-gradient(180deg, rgba(20,20,20,.6) 0%, transparent 100%)

  @include typesDisplay.desktop
    height: 6vh

  &-logo
    margin-top: .5rem

    @include typesDisplay.mobile
      display: none

  &-roll
    background-color: $bg-color-page
    transition: opacity 0.5s ease-in-out
    transform: 0.5s ease-in-out

  &-list
    width: 33.33%
    @include mixins.navbar-menu-config($side: left, $direction: start)

    @include typesDisplay.mobile
      width: 10%

    &-mobile
      @include typesDisplay.mobile
        display: none

  &-buttons
    li
      a
        text-decoration: none
        color: $btn-color-off
    li
      a:hover
        @include mixins.navbar-buttons-config
    li:hover
      @include mixins.navbar-buttons-config
    li:not(:first-child)
      margin-left: 2vw

  &-search
    width: 33.33%

    @include typesDisplay.mobile
      width: 90%

    @include mixins.navbar-menu-config($side: right, $direction: end)
    li:not(:first-child)
      margin-left: 1vw

    &-container
      width: 4.32vw
      overflow: hidden
      display: flex
      justify-content: space-between
      align-items: center
      

      @include typesDisplay.desktop
        width: 2.5vw

      @include typesDisplay.small_tablet
        width: 4vw
      
      @include typesDisplay.mobile
        width: 12vw

      &-input
        input
          border: none
          outline: none
          background-color: transparent
          color: $color-titles-buttons
          font-weight: 700
          margin-left: .5rem

          @include typesDisplay.small_tablet
            width: 13vw
          
          @include typesDisplay.mobile
            width: 35vw

        input::placeholder
          color: $btn-color-off

      &-icon
        background-color: transparent
        color: $btn-color-off
        font-size: 1.5rem

        &:hover
          color: $color-list-title
          transition: all .5s ease

    .active-search-bar
      border-radius: 30px
      background-color: $bg-color-card
      padding: .25vw 1vw
      width: auto

      @include typesDisplay.small_tablet
        button
          padding: .5rem 0
        input
          margin: 0

      @include typesDisplay.small_tablet
        width: 20vw

      @include typesDisplay.mobile
        width: 55vw

.avatar-navbar
  width: 2.2rem
  height: 2.2rem
  background-color: #66070E
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  &-text
    font-weight: 900
    color: $color-titles-buttons
    font-size: .95rem
